@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-charcoal-900: #121212;
  --color-charcoal-800: #1e1e1e;
  --color-charcoal-700: #2d2d2d;
  --color-accent: #38bdf8;
}

:root {
  --background: var(--color-charcoal-900);
  --foreground: #e4e4e7; /* zinc-200 */
}

body {
  -webkit-font-smoothing: antialiased;
}
